p.about-description {
  color: var(--medium-grey);
  width: 80%;
  min-width: 400px;
}

#profile-photo {
  max-width: 100%;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 50%;
}