header {
  background-color: var(--dark-grey);
  position: sticky;
  top: 0px;
  padding-top: 10px;
}

header .header-title-container a {
  display: block;
  text-align: center;
  font-size: 2rem;
  background-color: var(--light-tuiquoise);
  font-weight: 500;
}

.navbar {
  padding: 0;
}

.navbar-expand-sm ul{
  width: 100%;
}

.navbar-expand-sm ul li{
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--light-tuiquoise);
}

.nav-link.active {
  background: var(--light-tuiquoise);
  color: var(--dark-grey);
}

.nav-link:hover, .nav-link.active:hover {
  background: var(--light-tuiquoise);
  color: var(--medium-grey);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding-left: var(--navbar-padding);
    padding-right: var(--navbar-padding);
  }
}

@media screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header .header-title-container a {
    display: inline;
    padding-right: 20px;
    padding-left: 100px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
}