header {
  background-color: var(--dark-grey);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

header .header-title-container a {
  font-size: 2rem;
  background-color: var(--light-tuiquoise);
  padding-right: 20px;
  padding-left: 100px;
  font-weight: 700;
}

.navbar {
  padding: 0 var(--navbar-padding);
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--light-tuiquoise);
}

.nav-link.active {
  background: var(--light-tuiquoise);
  color: var(--dark-grey);
}

.nav-link:hover, .nav-link.active:hover {
  background: var(--light-tuiquoise);
  color: var(--medium-grey);
}

